* {
box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: gray;
    line-height: 1.6em;
    font-family: Verdana, Geneva, Tahoma;
    font-size: 27px;
}

.container {
    margin: auto;
    width: 80%;
    overflow: hidden;
}

header {
    background: black;
    color: whitesmoke;
    margin-bottom: 30px;
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
}

button {
    background: whitesmoke;
    color:black;
    height: 40px;
    font-size: 16px;
}
fieldset {
    padding: 40px;
    border: none;
    background: white;
}

legend {
padding: 15px;
height: 10px;
font-weight: bold;
}

.span-fig {
    border: 2px solid;
    border-radius: 50%;
    padding: 2px;

}
label {
    display: block;
    font-weight: 500; 
    font-size: 25px;
    margin: 10px;
}

#full_name {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    outline: none;
}

#mail {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    outline: none;
}
#work {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    outline: none;
}

#role {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    outline: none;
}
#number {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    outline: none;
}


footer {
    background: black;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
    padding: 40px;
    margin-top: 100px;
}